.landing-container {
  background-color: #4ca580;
  min-height: 100vh;
}

.container {
  padding-top: 40px;
}

.logoRow {
  margin-bottom: 1rem;
}

.logo {
  height: 4rem;
}

.titleRow {
  margin-bottom: 1rem;
}

.title {
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.subtitle {
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.videoRow {
  position: relative;
  padding-top: 56.25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contentCol {
  margin-bottom: 3rem;
}

.projectText {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: justify;
}

.moreText {
  background-color: white;
  color: #4ca580;
  padding: 3px;
  padding-left: 5px;
  font-weight: bold;
  letter-spacing: 2px;
}

.moreLink:hover {
  color: #4ca580;
  text-decoration: none;
}

.donateLink:hover {
  text-decoration: none;
}

.donateLinkText {
  color: black;
}

.copyButton:hover {
  cursor: pointer;
}
