.landing-container {
  background-color: white;
  min-height: 100vh;
}

.container {
  padding-top: 2rem;
}

.titleRow {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #4ca580;
}

.title {
  font-weight: bold;
  letter-spacing: 2px;
  color: #4ca580;
}

.supportLink {
  position: absolute;
  right: 0;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);   
  -o-transform: rotate(-5deg);
}

.supportLink:hover {
  text-decoration: none;
}

.supportText {
  font-size: medium;
  color: #4ca580;
  margin: 0;
  border: 1px solid #4ca580;
  border-radius: .5em;
  padding: .5rem;
}

.supportText:hover {
  color: black;
  border: 1px solid black;
}

.navRow {
  text-align: center;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.navText {
  color: #4ca580;
  margin: 0;
  padding: 2px;
  font-weight: bold;
  font-size: medium;
  letter-spacing: 2px;
}

.navText:hover {
  color: black;
}

.navLink:hover {
  text-decoration: none;
}

.subtitle {
  font-weight: bold;
  font-size: medium;
  color: #4ca580;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.videoRow {
  position: relative;
  padding-top: 56.25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.botRow {
  justify-content: center;
}

.botLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4ca580;
}

.botLink:hover {
  text-decoration: none;
  color: black;
}

.logo {
  height: 2rem;
  margin-right: 10px;
}

.botText {
  font-weight: bold;
  font-size: larger;
  letter-spacing: 2px;
}

.socialRow {
  color: #4ca580;
  border-top: 1px solid white;
  padding-top: 2rem;
  justify-content: space-around;
}

.donateLink:hover {
  text-decoration: none;
}

.copyButton:hover {
  cursor: pointer;
}

.footer {
  justify-content: flex-end;
}

#impressum {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: small;
  letter-spacing: 0;
}

@media only screen and (max-width: 769px) {
  .titleRow {
    flex-direction: column;
  }

  .supportLink {
    position: static;
    right: auto;
    align-self: flex-end;
  }

  .supportText {
    font-size: smaller;
    padding: .3rem;
    margin-right: 1rem;
  }
}