.linkContainer {
  padding-top: 0;
  margin-bottom: .5rem;
}

.linkImage {
  float: left;
  height: 2.5rem;
  margin-right: 1rem;
}

.linkText {
  color: white;
  font-weight: bold;
  font-size: small;
  letter-spacing: 2px;
  line-height: 3rem;
}

.link:hover {
  text-decoration: none;
}

.linkColLeft {
  padding-left: 0;
}
